[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
sklearn = "*"
pandas = "*"
numpy = "*"
requests = "*"
click = "*"
tensorflow = "*"
keras = "*"
opencv-python = "*"
pillow = "*"
dask = {extras = ["dataframe"],version = "*"}
update = "*"
cloudpickle = "*"
distributed = "*"
zarr = "*"

[requires]
python_version = "3.7"
